<h1>{{title}}</h1>
<div class="container">
    <div class="row ">
        <form action="api/carts" method="POST"></form>
        {{#each products}}
        <div class=" card col-3 m-4" style="width: 18rem;">
            <img src={{this.img}} class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">{{this.name}} </h5>
                <h6 class="card-text">{{this.price}}</h6>
                <p class="card-text">{{this.description}}</p>
                <input class="btn btn-primary" value="Add to Cart" onclick="addCart({{this.id}})" />
            </div>
        </div>

        {{/each }}
    </div>
</div>
<input onclick="deletePost(event,{{this.isbn}})" class=" btn btn-light mt-4" type="button" value="Delete" />



<a href="/api/carts" class="btn btn-light mt-4">Visit JSON</a>
<script>

    function addCart(id) {
        fetch(`http://localhost:8080/api/carts`, {
            method: 'POST',
            headers: {
                "Content-Type": "application/json"
            },
            body: JSON.stringify({ id })
        })
    }
</script>